h2 partychurch
p.secondary The realest livestreaming around
h3 Welcome!
p
  | partychurch is a place for people to come together and talk about almost
  | anything. Using the power of two second webcam recordings, it can bring
  | about a much deeper sense of connection than most other Internet
  | communication mediums. Say hi, stay a while!
h3 Guidelines
ul
  li
    | Show your face! 
    span.secondary You'll get along much better here if you do.
  li
    | Be kind. 
    span.secondary
      | This is a great space, full of welcoming, interesting people, many of
      | whom have been here a long time. We're interested in fostering a
      | community that people want to come back to often. We hope you are, too!
  li
    | Participate! 
    span.secondary
      | This experience is better for everyone when you don't just sit back and
      | watch from the sidelines. Get in there and make some GIFs!
h3 Code
p
  | All of the code for this site is available on 
  a(href='https://github.com/forivall/partychurch', target='_blank') GitHub
  | . Contributions are welcome!
h3 Thanks
p
  | Special thanks to 
  a(href='https://twitter.com/ednapiranha', target='_blank') @ednapiranha
  | , the author of the original software and concept on which this whole thing
  | is based. Without her, none of this would exist.
