include ../../shared/views/video-container.pug
p
.message-meta
  .dropdown
    button.toggle.message-overflow(title='Message options')
    .menu.shadow-2
      button(data-action='mute')
  .identicon
  time
