.video-container
  img.filmstrip(src=BLANK_IMAGE)
  button.save.shadow-1(title='Save as GIF')
p
.message-meta
  .dropdown
    button.toggle.message-overflow(title='Message options')
    .menu.shadow-2
      button(data-action='mute')
  .identicon
  time
