
main
  h1 welcome!
  
  div: form
    h2 Create a new room
    div: label Room Name
      input#new-room-name
    div: include password.pug
    div: label
      input(type='checkbox')
      | Private?
    div: input(type='submit', value='Create Room')
    
  div: form
    h2 Join a room
    label Room Name
      input#existing-room-name
    input(type='submit', value='Join Room')

  div
    h2 Join public room
    ul.room-list
      each room in ['butts', 'meat']
        li
          a(href='/' + room)= room
