
main.room
  #broadcast-pane
    .broadcaster-video.displayed
      include video-container.pug
      .preview-container(aria-hidden=true).shadow-1.camera-enabled
        video#broadcast-preview
      p
      .broadcast-meta
        .identicon(aria-hidden=true)
        time
    if hostFingerprint === null
      include password.pug
  #message-pane
    ul#message-list.shadow-1
footer#message-input
  .preview-container.shadow-1.camera-enabled
    .camera-disabled-message
      span.camera-disabled-icon.icon-invert.material-icons videocam_off
      span.camera-disabled-text Please enable your webcam
    video#preview
  .progress.shadow-1
    .circle
      .mask.full
        .fill
      .mask.half
        .fill
        .fill.fix
    .inset.shadow-1
        p.text 0%
  form#message-form.shadow-1
    input#message(type='text', maxlength='250', autofocus='true', autocomplete='off',
      autocorrect='on', autocapitalize='on', spellcheck='true')
    p#char-counter 0 / 250
    button#send.icon-invert.material-icons(type='submit', title="Send") send
