
color-transparent = rgba(0, 0, 0, 0)

color-video-bg = #000000
color-video-fg = #ffffff
color-light-bg = #ececec
color-light-bg-pending = #eeeeee
color-light-bg-active = #dddddd
color-light-fg = rgba(0, 0, 0, 0.87)
color-light-fg-lesser = rgba(0, 0, 0, 0.54)
color-light-fg-disabled = rgba(0, 0, 0, 0.38)
color-light-title = #ffffff
color-light-accent = #f06292
color-light-accent-disabled = #cb7a95

color-light-border = rgba(0, 0, 0, 0.26)

color-light-error = #d32f2f

color-light-icon = rgba(0, 0, 0, 0.54)
color-light-icon-invert = #ffffff
color-light-icon-invert-disabled = rgba(255, 255, 255, 0.3)

color-light-menu-pending = rgba(0, 0, 0, 0.12)

color-light-message-bg = #fafafa
color-light-message-separator = rgba(0, 0, 0, 0.12)

color-light-button-bg = #f06292
color-light-button-bg-pending = #f86a9a
color-light-button-bg-active = #ff71a1
color-light-button-bg-disabled = #cb7a95
// color-light-button-bg-disabled = #e91e63
color-light-button-border = rgba(0, 0, 0, 0.54)

color-light-dialog-bg = #fafafa
color-light-dialog-scrim = rgba(0, 0, 0, 0.40)

color-dark-text = #ffffff
color-dark-bg = #212121
