
h1, h6
  color: #ffffff

a,
a:visited,
a:hover,
a:focus,
a:active
  color: #F48FB1

.icon-normal.icon-normal
  color: #ffffff

.dropdown .toggle
  /* necessary to be "more specific" than the dark dropdown button styles */
  background-color: rgba(0, 0, 0, 0)

.dropdown .toggle:hover
  background-color: rgba(255, 255, 255, 0.12)

.dropdown button
  background-color: #424242
  color: #ffffff

.dropdown button:hover
  background-color: #525252

.dropdown button:active
  background-color: #616161

#message-list li
  background-color: #303030
  border-bottom: 1px solid rgba(255, 255, 255, 0.12)

.message-overflow:hover .icon, .dark .message-overflow:active .icon
  color: rgba(255, 255, 255, 0.7)

.message-overflow:disabled:disabled .icon
  color: rgba(255, 255, 255, 0.3)

.identicon
  border-color: rgba(255, 255, 255, 0.12)

.message-meta time
  color: rgba(255, 255, 255, 0.7)

#message-form
  background-color: #303030

#message
  background: #303030
  border-color: rgba(255, 255, 255, 0.12)
  color: #ffffff

#message:hover
  border-color: rgba(255, 255, 255, 0.3)

#message[readonly]
  color: rgba(255, 255, 255, 0.3)

#char-counter
  color: rgba(255, 255, 255, 0.7)

#char-counter.full
  color: #C62828

.progress .inset
  background-color: #303030

.progress .text
  color: #ffffff

.dialog
  background-color: #424242

.secondary
  color: rgba(255, 255, 255, 0.70)
