
html
  -ms-text-size-adjust: 100%
  -webkit-text-size-adjust: 100%

body
  font-family: 'Roboto', 'sans-serif'
  font-size: 15px
  font-weight: normal
  line-height: 1.4
  -webkit-font-smoothing: antialiased
  -webkit-tap-highlight-color: rgba(0,0,0,0)
  -webkit-touch-callout: none

b
  font-weight: 500

h1, h2, h3, h4, h5, h6
  font-weight: 400
  text-rendering: optimizeLegibility
  margin: 8px 0

h1
  font-size: 45px
  line-height: 64px

h2
  font-size: 34px
  line-height: 40px

h3
  font-size: 24px
  line-height: 32px

h4
  font-size: 20px
  font-weight: 500
  letter-spacing: 0.005em

h5
  font-size: 16px
  letter-spacing: 0.010em
  line-height: 24px

h6
  font-size: 14px
  letter-spacing: 0.020em

a, a:visited, a:hover, a:focus, a:active
  font-weight: inherit

button
  font-family: 'Roboto', 'sans-serif'
